<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi</title>
    <link rel="stylesheet" href="/static/css/Mi.css">
</head>
<body>
<div class="nav">
    <div class="center clearfix">
        <div class="nav-left">
            <ul>
                <li><a href="">玉米</a></li>
                <li><a href="">大米</a></li>
                <li><a href="">小米</a></li>
                <li><a href="">薏米</a></li>
                <li><a href="">红豆</a></li>
                <li><a href="">黄豆</a></li>
                <li><a href="">绿豆</a></li>
                <li><a href="">牛奶</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="">登录</a><a href="">注册</a><a href="">购物车</a>
        </div>
    </div>
</div>
</body>
</html>