<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑出版社</title>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
</head>
<body>
<h1>编辑出版社</h1>
<form class="table table-bordered" action="" method="post">
    <p>出版社：<input type="text" name="publisher_name" value="{{ publisher.name }}"></p>
    <input type="hidden" name="id" value="{{ publisher.id }}">
    <p><input  class="btn btn-primary" type="submit" value="提交" ></p>
    <p>{{ error }}</p>
</form>
</body>
</html>